
.navbar-text {
  margin-left: 15px;
}

/* Project List page */
#project-list {

    .project {
        font-size: 20px;
        margin: 5px;
        display: inline-block;
    }
}

.add-project-modal {
	.modal-content {
		background: #333;
	}
}