<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->

<div class="" id="project-list">
	<h1> Projects 
		<button class="btn btn-success" ng-click="addProject()"> <span class="fa fa-plus"></span> </button>	
	</h1>
	<div class="container">
	    <div class="row" ng-repeat="project in projectList">
	    	<div class="col-md-6 col-lg-6 col-sm-6">
	    		<a ui-sref="project-detail({projectId: project._id })" class="project">{{ project.name }}</a>	
	    	</div>
			<div class="col-md-6 col-lg-6 col-sm-6">
				<a href="http://shop-that-vid.herokuapp.com/#/ad/{{project._id}}" target="_blank" class="project"><span class="fa fa-external-link-square"></span> See this Project in player</a>
			</div>
	    </div>
  	</div>
</div>

